<nav class="nav shadow-5">
  <div class="nav-left">
    <%= link_to @current_page == 'groups' || "" ? 'Home' : 'Back', 
      groups_path, class: 'btn' 
    %>
  </div>
  <div class="nav-mid">
    <p class="page-title"><%= @current_page %></p>
  </div>
  <div class="nav-right">
    <% if user_signed_in? %>
      <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "link white" %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</nav>