<section class="card-top bg-white">
  <h1 class="secondary-color">Expense Tracker</h1>
</section>
<section class="card-bottom ph2">
  <p class="intro-text"> Welcome to our free expense tracker. <br>
    Now you can see all the beautiful and, maybe, stupid things you've been spending your money on, 
    organized by categories.
  </p>
  <%= image_tag 'logo.png', title: 'logo', class: 'logo' %>
</section>