<section class="card-top bg-white">
  <h1 class="secondary-color">Expense Tracker</h1>
</section>
<section class="card-bottom ph2 flex flex-column items-center justify center">
  <p class="intro-text w-100 w-50-m w-50-l pa2"> Welcome to our free expense tracker. <br>
    Now you can see all the beautiful and, maybe, stupid things you've been spending your money on, 
    organized by categories. 
  </p>
  <%= image_tag 'logo.png', title: 'logo', class: 'logo' %>
</section>