:root {
  --main-color: #3778c2;
  --green: #51b523;
  --text-color: #434b54;
  --heading: 'Montserrat', sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 10px;
  background: var(--main-color);
  color: #fff;
  font-size: 16px;
}

.card-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: #f2f2f2
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.ash {
  color: var(--text-color);
}

.add-btn-block {
  display: flex;
  background: var(--green);
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: sticky;
  bottom: 0;
}

.add-btn {
  border: 1px solid #fff;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
  padding: 13px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.card-img {
  width: 20%;
}

.card-details {
  width: 43%;
  text-align: center;
  color: #717c88;
}

.light-ash {
  color: #717c88;
}

.card-price {
  width: 30%;
  text-align: center;
  font-weight: 600;
  color: var(--text-color)
}

.group-form {
  background-color: #fff;
  text-align: center;
  padding: 0px 0;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #f2f2f2;
}

.submit {
  border: none;
  background-color: var(--main-color);
  padding: 16px;
}

.secondary-color {
  color: var(--text-color);
}
